.create__info {
    width: 358px;
    align-self: center;
    border: none;
    border-bottom: 1px solid #80808087;
}

@media screen and (max-width: 900px) {
    .create__info {
        width: 238px;
    }   
}

.create__info:invalid {
    border-bottom-color: #FF0000;
}

.create__info:invalid::after {
    color: #FF0000;
    font-size: 12px;
}