.button__create {
    cursor: pointer;
    align-self: center;
    width: 358px;
    min-height: 50px;
    color: #ffffff;
    background-color: #000000;
    top: 250px;
    position: absolute;
}

.button__create:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .button__create {
        width: 238px;
        height: 46px;
    }
}

.button__create-off {
    align-self: center;
    width: 358px;
    min-height: 50px;
    background-color: #ffffff;
    color: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.1);
}

@media screen and (max-width: 900px) {
    .button__create-off {
        width: 238px;
        height: 46px;
    }
}