.create__name {
    width: 358px;
    align-self: center;
    border: none;
    border-bottom: 1px solid #80808087;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
    .create__name {
        width: 238px;
    }   
}