.cards {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cards {
        max-width: 480px;
        margin-top: 36px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .cards {
        max-width: 320px;
        grid-template-columns: repeat(1, 1fr);
    }
}