.button__trash {
    background-image: url("/images/trash.svg");
    cursor: pointer;
    border: none;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 18px;
    background-color: transparent;
}

.button__trash:hover {
    opacity: 0.5;
}