.footer__text {
    font-weight: 400;
    font-size: 18px;
    max-width: 318px;
    max-height: 18px;
    color: #545454;

}

@media screen and (max-width: 768px){
    .footer__text {
        font-size: 14px;
    }
}