.form__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    width: 358px;
    height: 23px;
}

@media screen and (max-width: 480px) {
    .form__title {
        width: 238px;
        height: 22px;
        font-size: 18px;
    }
}