.button__edit {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: solid 1px #ffffff;
    cursor: pointer;
    margin-bottom: 22px;
}

.button__edit:hover {
    opacity: 0.6;
}