.create__name {
    width: 358px;
    align-self: center;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #80808087;
}

@media screen and (max-width: 900px) {
    .create__name {
        width: 238px;
    }   
}

.create__name:invalid {
    border-bottom-color: #FF0000;
}