.create__info {
    width: 358px;
    align-self: center;
    border: none;
    border-bottom: 1px solid #80808087;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
    .create__info {
        width: 238px;
    }   
}