.footer {
    width: 880px;
    margin-top: 68px;
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 480px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        max-width: 320px;
    }
}