.button__popup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    background-color: transparent;
    left: 420px;
    bottom: 800px;
}

.button__popup:hover {
    opacity: 0.6;
}