.card__info {
    width: 246px;
    height: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: absolute;
}

@media screen and (max-width: 480px) {
    .card__info {
        width: 246px;
    }
}