.button__heart-active {
    background-image: url("/src/images/blackheart.svg");
    width: 21px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    margin-bottom: 30px;
}